// https://www.sassmeister.com/
// File watcher can be used in PhpStorm  (https://www.dropbox.com/s/uuf5mg0k8si6d54/2021-05-10_11-00-58.png?dl=0)

@import 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css';

#page-mod-stackview-view {

    .stackviewer {
        background: #000;
        color: #fff;
        border-radius: 3px;
        max-width: 1200px;
        margin: 0 auto;

        h2 {
            padding: 10px 10%;
            text-align: center;
        }

        #slick-slider {
            border: 10px solid lightgrey;
            width: 80%;
            padding: 0;
            position: relative;
            top: 5%;
        }

        #slider {
            background-color: #000;
            padding: 20px 10%;
            cursor: ns-resize;
        }

        #slider img {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .slide {
            position: relative;
            border: none;
        }

        #slick-progressbar {
            position: absolute;
            height: 100%;
            right: -22px;
            width: 8px;
            background-color: #f5f5f5;
            background-image: linear-gradient(to bottom, #999999, #999999);
            background-repeat: no-repeat;
            background-size: 100% 0;
            border-radius: 3px;
            margin-top: 5px;
            z-index: 999;
        }

        #slick-counter {
            padding: 4px;
            background: red;
            position: absolute;
            right: -55px;
            top: -30px;
            border-radius: 4px;
        }

        ul.slick-dots {
            margin: 0;
            padding: 0;
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            list-style: none;
            text-align: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #999999;
            border-radius: 2px;

            li {
                color: #fff;
                cursor: pointer;
                width: 8px;
                display: flex;
                flex-grow: 1;
            }

            li.slick-active {
                background: red;
            }

            li img:nth-child(1) {
                display: block;
            }

            li img:nth-child(2) {
                display: none;
            }

            .slick-slide {
                border: none;
            }

            li.slick-active img:nth-child(1) {
                display: none;
            }

            li.slick-active img:nth-child(2) {
                display: block;
            }
        }

        .slick-prev, .slick-next {
            height: 20px;
            width: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
        }
    }

    &.pagelayout-popup {
        margin: 0;
        padding: 0;
        background-color: #fff;

        #page, #region-main-box {
            margin: 0;
            padding: 0;
        }

        #region-main {
            min-height: 0;
            background-color: #fff;
            padding: 0;
        }
    }

    .stackviewer-embedcode {
        max-width: 1200px;
        margin: 0 auto;
        background: lightgrey;
        padding: 5px;
        cursor: pointer;

        .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            z-index: 1;
            left: 100px;
            margin: -32px 0 0 0;
            opacity: 0;
            transition: opacity 0.3s;

            &::after {
                content: "";
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }
        }

        &:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}