@import 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css';
#page-mod-stackview-view .stackviewer {
  background: #000;
  color: #fff;
  border-radius: 3px;
  max-width: 1200px;
  margin: 0 auto;
}
#page-mod-stackview-view .stackviewer h2 {
  padding: 10px 10%;
  text-align: center;
}
#page-mod-stackview-view .stackviewer .slick-slider {
  border: 10px solid lightgrey;
  width: 80%;
  padding: 0;
  position: relative;
  top: 5%;
}
#page-mod-stackview-view .stackviewer #slider {
  background-color: #000;
  padding: 20px 10%;
  cursor: ns-resize;
}
#page-mod-stackview-view .stackviewer #slider img {
  width: 100%;
  margin: 0;
  padding: 0;
}
#page-mod-stackview-view .stackviewer .slide {
  position: relative;
  border: none;
}
#page-mod-stackview-view .stackviewer .slick-dots {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  text-align: center;
  margin: 0 3px;
  padding: 11% 1% 11% 1.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#page-mod-stackview-view .stackviewer .slick-dots li {
  background: #999999;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  width: 20px;
}
#page-mod-stackview-view .stackviewer .slick-dots li.slick-active {
  background: red;
  transition: all 0.5s ease;
}
#page-mod-stackview-view .stackviewer .slick-dots li img:nth-child(1) {
  display: block;
}
#page-mod-stackview-view .stackviewer .slick-dots li img:nth-child(2) {
  display: none;
}
#page-mod-stackview-view .stackviewer .slick-dots .slick-slide {
  border: none;
}
#page-mod-stackview-view .stackviewer .slick-dots li.slick-active img:nth-child(1) {
  display: none;
}
#page-mod-stackview-view .stackviewer .slick-dots li.slick-active img:nth-child(2) {
  display: block;
}
#page-mod-stackview-view .stackviewer .slick-prev, #page-mod-stackview-view .stackviewer .slick-next {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
#page-mod-stackview-view.pagelayout-popup {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
#page-mod-stackview-view.pagelayout-popup #page, #page-mod-stackview-view.pagelayout-popup #region-main-box {
  margin: 0;
  padding: 0;
}
#page-mod-stackview-view.pagelayout-popup #region-main {
  min-height: 0;
  background-color: #fff;
  padding: 0;
}
#page-mod-stackview-view .stackviewer-embedcode {
  max-width: 1200px;
  margin: 0 auto;
  background: lightgrey;
  padding: 5px;
  cursor: pointer;
}
#page-mod-stackview-view .stackviewer-embedcode .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  left: 100px;
  margin: -32px 0 0 0;
  opacity: 0;
  transition: opacity 0.3s;
}
#page-mod-stackview-view .stackviewer-embedcode .tooltiptext::after {
  content: "";
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
#page-mod-stackview-view .stackviewer-embedcode:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
