{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package mod_stackview
    @copyright 09/05/2021 Mfreak.nl | LdesignMedia.nl - Luuk Verhoeven
    @author    Luuk Verhoeven
}}
<div class="stackviewer">
    <h2>{{name}}</h2>
    <section id="slider" class="container-fluid">
        <div class="container slick-slider">
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb412b_13a.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb4c2c_12b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb574b_12a.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb619f_11b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb76ae_10b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb76ae_10b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb76ae_10b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb76ae_10b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb76ae_10b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb76ae_10b.jpg">
            </div>
            <div class="slide">
                <img src="https://radiologyassistant.nl/assets/brain-anatomy/a5097978bb76ae_10b.jpg">
            </div>
        </div>
    </section>
</div>